der {padding-bottom:15px;}
.header span {font-size:22px;}
.wrapper {width:540px; margin:0 auto 80px auto; text-align:left;}
.container {position:relative; border-width:0 !important; }

h1.title {font-family:Georgia, Times New Roman, Times, serif; color:#111111;}
.subtitle {font-family:Georgia, Times New Roman, Times, serif; color:#111111;}
.description {font-family:Georgia, Times New Roman, Times, serif; color:#111111;}
